@model EditReservationViewModel

@{
    var clients = ViewBag.Clients as List<ApplicationUser>;
    var roomsList = ViewBag.RoomsAvailable as RoomsListViewModel;
}

<div class="modal" id="editReservationModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit reservation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="w-75 mx-auto" id="editReservationForm">
                    <input hidden asp-for="ReservationId" value="@Model.ReservationId" />

                    <div class="my-2">
                        <label class="form-label" for="clientId" asp-for="ClientId"></label>
                        <select class="form-select" id="clientId" asp-for="ClientId">
                            <option value="">-- select a client --</option>
                            @foreach (var client in clients)
                            {
                                <option value="@client.Id">@client.FirstName @client.LastName</option>
                            }
                        </select>
                    </div>

                    <div class="my-2">
                        <label class="form-label" for="roomId" asp-for="RoomId"></label>
                        <select class="form-select" id="roomId" asp-for="RoomId">
                            <option value="">-- select a room only if you want to change it --</option>
                            @* <option value="@Model.RoomId">Room @Model.Room.RoomNumber <span class="small">(for @Model.Room.RoomType.MaxOccupancy)</span></option> *@
                            @if (roomsList != null && roomsList.Rooms != null && roomsList.Rooms.Count > 0)
                            {
                                @foreach (var room in roomsList.Rooms)
                                {
                                    <option value="@room.RoomId">Room @room.RoomNumber <span class="small">(for @room.RoomType.MaxOccupancy people)</span></option>
                                }
                            }

                        </select>
                    </div>

                    <div class="my-2">
                        <label class="form-label mb-1" for="checkIn" asp-for="CheckIn"></label>
                        <input type="date" class="form-control" id="checkIn" asp-for="CheckIn" />
                        <span class="text-danger" asp-validation-for="CheckIn"></span>
                    </div>

                    <div class="my-2">
                        <label class="form-label mb-1" for="checkOut" asp-for="CheckOut"></label>
                        <input type="date" class="form-control" id="checkOut" asp-for="CheckOut" />
                        <span class="text-danger" asp-validation-for="CheckOut"></span>
                    </div>

                    <div class="my-2">
                        <input type="checkbox" asp-for="State" id="state" class="form-check-input" />
                        <label class="form-check-label" for="state" asp-for="State"></label>
                    </div>

                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Error!</strong> @TempData["Error"].
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    <div class="d-flex justify-content-end my-2">
                        <button type="button" class="btn btn-success" onclick="sendEditReservationForm()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





